{
  "git": {
    "url": "{protocol}://{user}:{password}@{domain}/{path}",
    "user": "%git-user%",
    "password": "%git-pass%",
    "protocol": "%git-protocol%",
    "domain": "%git-domain%",
    "path": "%git-path%"
  },
  "uploadsZip": "{date}-uploads.zip",
  "file": {
    "sql": "{date}-{env}-%site-name%.sql",
    "sqlZip": "{date}-{env}-%site-name%.sql.zip"
  },
  "env": {
    "loc": {
      "url": "http://%site-name%.loc",
      "dbName": "%loc-db-name%",
      "dbUser": "%loc-db-user%",
      "dbPass": "%loc-db-pass%",
      "pathBackups": "/home/your-user/backups/%site-name%",
      "pathContent": "/var/www/%site-name%/html/wp-content",
      "branch": "%dev-git-branch%"
    },
    "prod": {
      "ssh": "%ssh-prod%",
      "url": "%prod-site-url%",
      "dbName": "%prod-db-name%",
      "dbUser": "%prod-db-user%",
      "dbPass": "%prod-db-pass%",
      "pathBackups": "/var/www/%site-name%/backups",
      "pathContent": "/var/www/%site-name%/html/wp-content",
      "branch": "%git-release-branch%"
    },
    "test": {
      "ssh": "%ssh-test%",
      "url": "%test-site-url%",
      "dbName": "%test-db-name%",
      "dbUser": "%test-db-user%",
      "dbPass": "%test-db-pass%",
      "pathBackups": "/var/www/%site-name%/backups",
      "pathContent": "/var/www/%site-name%/html/wp-content",
      "branch": "%git-dev-branch%"
    },
    "dev2": {
      "enable": false,
      "url": "http://localhost:8000"
    },
    "dev3": {
      "enable": false,
      "url": "http://%site-name%"
    }
  }
}
