{
  "git": {
    "url": "{protocol}://{user}:{password}@{domain}/{path}",
    "user": "git-user",
    "password": "password",
    "protocol": "https",
    "domain": "github.com",
    "path": "your-site/wordpress"
  },
  "uploadsZip": "{date}-uploads.zip",
  "file": {
    "sql": "{date}-{env}-your-site.sql",
    "sqlZip": "{date}-{env}-your-site.sql.zip"
  },
  "env": {
    "loc": {
      "url": "http://your-site.loc",
      "dbName": "wordpress",
      "dbUser": "wordpress",
      "dbPass": "password",
      "pathBackups": "/home/your-user/backups/your-site",
      "pathContent": "/var/www/your-site/html/wp-content",
      "branch": "master"
    },
    "test": {
      "ssh": "your-site-test",
      "url": "http://test.your-site.com",
      "dbName": "wordpress",
      "dbUser": "wordpress",
      "dbPass": "password",
      "pathBackups": "/var/www/your-site/backups",
      "pathContent": "/var/www/your-site/html/wp-content",
      "branch": "master"
    },
    "prod": {
      "ssh": "your-site-prod",
      "url": "https://your-site.com",
      "dbName": "wordpress",
      "dbUser": "wordpress",
      "dbPass": "password",
      "pathBackups": "/var/www/your-site/backups",
      "pathContent": "/var/www/your-site/html/wp-content",
      "branch": "release"
    },
    "dev2": {
      "enable": true,
      "url": "http://localhost:8000"
    },
    "dev3": {
      "enable": true,
      "url": "http://your-site"
    }
  }
}
